
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: 'Inter', sans-serif;
  
}
#bg{
  max-width: 100%; height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 10%;
  width: 650px;
  
  
}
#gradiant{
  width: 100%;
  opacity: 30%;
}
#register,
#logo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50px;

}
.container{
  
  text-align: center;
  z-index: 10;

 
} 
#register{
  margin-top: 50px;
}

#palm{
  position: fixed;
  bottom: 0; left: 0;
}
.h{
  margin-top: 80px;
}
#h{
  font-size: 1.7rem;
  font-weight: 500;
}




form{
  padding: 50px;
  margin-left: auto; margin-right: auto;
}

.form-grid {
  z-index: 50;
  display: flex;
  flex-direction: column;
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-weight: bold;
}
.form-group input {
  padding: 5px;
  border-style: solid;
  font-size: 16px;
  padding-left: 10px;
  border-right: none; border-top:  none; border-left: none ;
  border-width: 0.5px;


  height: 40px;
  border-radius: 8px;
  border-bottom-right-radius: 0;

}
.form-group textarea {
  padding: 5px;
  font-size: 16px;
}

.submit-btn {
  margin-top: 5px;
 
}
.submit-btn button{
  padding: 20px;
  padding-right:50px ;padding-left:50px;
  background-color: #F68915;
  color: white ;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
label{
  color: #586166;
  margin-bottom: 5px;
}
span{
  color: #F68915;
}
#training{
  padding-right: 60px;
}


#p1{
  position: absolute;
  top: 30%;
  left: 10%;
}
#p2{
  position: absolute;
  top:  70%;
  left: 5%;
}
#p3{
  position: absolute;
  top: 20%;
  right: 30%;
  width: 60px;
  height: 60px;

}
#p4{
  position: absolute;
  top: 80%;
  right: 10%;
}
form{
  background-color: rgba(235, 235, 235, 0.397);
  border-radius: 12px;
  box-shadow: 5px 7px #dfdcdcaf;

}
.file,
.fields,
.phone,
.email,
.discord,
.firstname{
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  box-shadow: 1px 2px #dfdcdcaf;

  
}

body{
  background-color: #f2f2f2a4;
}
#circles{
  
  position: fixed;
 
  z-index: -1;
}



.social{
  justify-content: center;
  display: flex;
  gap: 15px;
}
.social a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background: #1887B4;
  border-radius: 50%;
  padding: 8px;
  
}


.f-p p{
  text-align: center;
  margin-right: auto;margin-left: auto;
  max-width: 1000px;
}







/* <select> styles */
select {
  /* Reset */
  background-color: 
rgba(235, 235, 235, 0.397);
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 100%;
  height: 3em;
  padding: 0 4em 0 1em;
 
  color:black;
  border-radius: 0.25em;
  cursor: pointer;
  /* <option> colors */

}
  option {
    color: inherit;
    background-color:#320a28;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
.hh{
  display: flex;
}

#arrow{
  
  color: #F68915;
  font-size: 2rem;
  position: relative;
  right: 50px;
  top: 8px;

}





@media only screen and (max-width: 600px) {

  #p1,
  #p2,
  #p3,
  #p4{
    display: none;
  }
  #register{
  width: 400px;
}

}
